extends ../layouts/main

block prepend head
    - var sharingImage = rootUrl('/images/avatar_scarlet.png');

block append head
    meta(property='og:description' content=siteDescription)
    meta(property='og:url' content=rootUrl('/'))
    meta(property='description' content=siteDescription)

block content
    div.center-on-breakpoint
        div.avatar
            img.avatar__image(src=url('/images/avatar_scarlet.png') alt=siteName)
        h2 Thang X. Vu
            | &nbsp;(
            a(href='https://github.com/sinzii' target='_blank') @sinzii
            | )
        p A software developer with a curious mind.
        p I'm currently interested in&nbsp;
            | <strong>
            a(href=url('/tags/javascript.html')) #javascript
            | </strong>,&nbsp;
            | <strong>
            a(href=url('/tags/nodejs.html')) #nodejs
            | </strong> and&nbsp;
            | <strong>
            a(href=url('/tags/frontend.html')) #frontend
            | </strong>-development.

    hr.meta-color

    h3 Latest writings
    ul.listing
        each post in latestPosts
            li.listing__item
                span.meta-color=`${formatDate(post.publishedAt)} - `
                a(href=url(`/posts/${post.slug}.html`))=post.title

    h3 Side Projects
    ul.listing
        li.listing__item
            a(href='https://github.com/sinzii/sinzii.github.io' target='_blank') Static site generator
        li.listing__item
            a(href='https://github.com/sinzii/frameworkless' target='_blank') Frameworkless NodeJS application


