extends ../layouts/main

block prepend head
    - var title = post.title;
    - var sharingOgType = 'article'

block append head
    meta(property='og:description' content=post.excerpt)
    meta(property='og:url' content=postRootUrl(post))
    meta(property='description' content=post.excerpt)
    meta(property='keywords' content=post.tags.join(','))

block append head
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/github.min.css' integrity='sha512-7QTQ5Qsc/IL1k8UU2bkNFjpKTfwnvGuPYE6fzm6yeneWTEGiA3zspgjcTsSgln9m0cn3MgyE7EnDNkF1bB/uCw==' crossorigin='anonymous' referrerpolicy='no-referrer')

block content
    +header
    +personal-board-small
    article.post-single
        +post-info(post)
        h1.post-single__title=post.title
        .post-single__content !{post.body}
