extends ../layouts/main

block prepend head
    - var title = `#${tag}`

block append head
    - var description = `Writings tagged as #${tag}`
    meta(property='og:description' content=description)
    meta(property='og:url' content=rootUrl(`/tags/${tag}.html`))
    meta(property='description' content=description)

block content
    h1.mt-0=`#${tag}`
    each post in posts
        +post-summary(post)

