extends ../_layouts/main

block prepend head
    - var title = siteDescription

block append head
    meta(property='og:description' content=siteDescription)
    meta(property='og:url' content=rootUrl('/'))
    meta(property='description' content=siteDescription)

block content
    +header
    +personal-board
    h3 Have a quick taste
    pre
        code
            | npm install --save meblog
            |
            | meblog init
            |
            | meblog sample --number-of-posts=20
            |
            | meblog serve

    h3 What to do next?
    ul.listing
        each todo in whatToDoNext
            li.listing__item
                a(href=todo.url target='_blank')=todo.text

    h3 Websites built with&nbsp;
        span.p-color meblog
    ul.listing
        each website in websitesBuiltWithMeblog
            li.listing__item
                a(href=website.url target='_blank')=website.url
                span=` - ${website.text}`



