include ../mixins/index

- var title = ''
- var sharingImage = rootUrl('/images/default_image.jpg');
- var sharingOgType = 'website';

doctype html
html(lang='en')
    head
        block head
            - var displayTitle = title + (title ? ' - ' : '') + siteName
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
            meta(http-equiv='X-UA-Compatible' content='ie=edge')
            title=displayTitle
            link(rel='shortcut icon' href=url('/favicon.ico'))
            link(rel='apple-touch-icon' sizes='57x57' href=url('/images/apple-icon-57x57.png'))
            link(rel='apple-touch-icon' sizes='60x60' href=url('/images/apple-icon-60x60.png'))
            link(rel='apple-touch-icon' sizes='72x72' href=url('/images/apple-icon-72x72.png'))
            link(rel='apple-touch-icon' sizes='76x76' href=url('/images/apple-icon-76x76.png'))
            link(rel='apple-touch-icon' sizes='114x114' href=url('/images/apple-icon-114x114.png'))
            link(rel='apple-touch-icon' sizes='120x120' href=url('/images/apple-icon-120x120.png'))
            link(rel='apple-touch-icon' sizes='144x144' href=url('/images/apple-icon-144x144.png'))
            link(rel='apple-touch-icon' sizes='152x152' href=url('/images/apple-icon-152x152.png'))
            link(rel='apple-touch-icon' sizes='180x180' href=url('/images/apple-icon-180x180.png'))
            link(rel='icon' type='image/png' sizes='192x192' href=url('/images/android-icon-192x192.png'))
            link(rel='icon' type='image/png' sizes='32x32' href=url('/images/favicon-32x32.png'))
            link(rel='icon' type='image/png' sizes='96x96' href=url('/images/favicon-96x96.png'))
            link(rel='icon' type='image/png' sizes='16x16' href=url('/images/favicon-16x16.png'))
            link(rel='manifest' href=url('/manifest.json'))
            meta(name='msapplication-TileColor' content='#ffffff')
            meta(name='msapplication-TileImage' content=url('/images/ms-icon-144x144.png'))
            meta(name='theme-color' content='#ffffff')
            link(rel='stylesheet' href=url('/main.css'))

            meta(property='og:site_name' content=siteName)
            meta(property='og:title' content=displayTitle)
            meta(property='og:image' content=sharingImage)
            meta(property='og:type' content=sharingOgType)

            script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-PG94EHM1B9')
            script.
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());
                gtag('config', 'G-PG94EHM1B9');
    body
        div.myblog.main-content
            include ../includes/sidebar
            main.page-content(class=`page-${templateName}`)
                block content
            include ../includes/right-sidebar
        script(src=url('/index.js'))
