extends ../layouts/main

block prepend head
    - var sharingImage = rootUrl('/images/avatar_scarlet.png');

block append head
    meta(property='og:description' content=siteDescription)
    meta(property='og:url' content=rootUrl('/'))
    meta(property='description' content=siteDescription)

block content
    +header
    +personal-board
    h3 Latest writings
    ul.listing
        each post in latestPosts
            li.listing__item
                span.meta-color=`${formatDate(post.publishedAt)} - `
                a(href=postUrl(post))=post.title

    h3 Side Projects
    ul.listing
        li.listing__item
            a(href='https://github.com/sinzii/meblog' target='_blank') <strong>meblog</strong> - Static site generator
        li.listing__item
            a(href='https://github.com/sinzii/frameworkless' target='_blank') <strong>frameworkless</strong> - A frameworkless NodeJS application


