mixin personal-board
    div.personal-board
        div.avatar
            img.avatar__image(src=url('/images/avatar_scarlet.png') alt=siteName)
        h2 Thang X. Vu
            | &nbsp;(
            a(href='https://github.com/sinzii' target='_blank') @sinzii
            | )
        p A software developer with a curious mind.
        p I'm currently interested in&nbsp;
            | <strong>
            a(href=url('/tags/javascript.html')) #javascript
            | </strong>,&nbsp;
            | <strong>
            a(href=url('/tags/nodejs.html')) #nodejs
            | </strong> and&nbsp;
            | <strong>
            a(href=url('/tags/frontend.html')) #frontend
            | </strong>-development.
    hr

mixin personal-board-small
    div.personal-board
        div.avatar
            img.avatar__image_small(src=url('/images/avatar_scarlet.png') alt=siteName)
        h3 Thang X. Vu
            | &nbsp;(
            a(href='https://github.com/sinzii' target='_blank') @sinzii
            | )
    hr
