extends ../_layouts/main

block prepend head
    - var title = `#${tag}`

block append head
    - var description = `Writings tagged as #${tag}`
    meta(property='og:description' content=description)
    meta(property='og:url' content=rootUrl(`/tags/${tag}.html`))
    meta(property='description' content=description)

block content
    +header
    +personal-board-small
    h1.mt-0
        span Tagged as&nbsp;
        span.p-color=`#${tag}`
    each post in posts
        +post-summary(post)

