mixin personal-board
    div.personal-board
        div.avatar
            img.avatar__image(src=url('/images/avatar.svg') alt=siteName)
        h2=me.fullname
            | &nbsp;(
            a(href=me.github target='_blank')=me.nickname
            | )
        p.personal-board__desc A simple static site generator
        p.personal-board__sub We use <b>pug</b> for templating, <b>scss</b> for styling and <b>gulpjs</b> for generating the site and automating the process
    hr

mixin personal-board-small
    div.personal-board
        div.avatar
            img.avatar__image_small(src=url('/images/avatar.svg') alt=siteName)
        h3=me.fullname
            | &nbsp;(
            a(href=me.github target='_blank')=me.nickname
            | )
    hr
